[Unit]
Description=Podman
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=sudo podman --log-level=debug system service --timeout 999999

[Install]
WantedBy=multi-user.target
